<h1>Admin#misc</h1>

<ul>
    <li><%= link_to 'noun project game icons', 'https://thenounproject.com/term/board-game/'%></li>
    <li><%= link_to 'LoB BGG Guild Members', 'https://boardgamegeek.com/guild/members/586'%></li>
    <li><%= link_to 'LoB BGG Guild Collection', 'https://boardgamegeek.com/guild/collection/586&own=1'%></li>
</ul>