<h1>Listing Rsvps</h1>

<table>
  <thead>
    <tr>
      <th>Meetup user id</th>
      <th>Meetup event id</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.player_id %></td>
        <td><%= rsvp.event_id %></td>
        <td><%= rsvp.response %></td>
      </tr>
    <% end %>
  </tbody>
</table>
